.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}
.login-form-1 .form-group {
    padding-top: 15px;
}
.goodText {
    margin-top: 6%;
    position: absolute;
    text-align: center;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}
.a{
    font-family: 'Montserrat', sans-serif;
}
.goodText{
    font-family: 'Montserrat', sans-serif;
}
body {
    background: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%) fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.failed {
    color: red;
}
.lower {
    margin-top: 20%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
