<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>StatTrack</title>
    <link th:href="@{/css/mdb.min.css}" rel="stylesheet" />
    <link th:href="@{/css/custom/home.css}" rel="stylesheet" />
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="/">
                <img
                        th:src="@{/images/logo.png}"
                        height="50"
                        loading="lazy"
                        alt=""
                />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/update">Update</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/linkaccount">Link Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
            </ul>
            <input type="text" id="accountName">
            <input type="submit" onclick="redirectToUserPage()" value="Find">
            <script>
                function redirectToUserPage() {
                    var userName = document.getElementById("accountName").value;
                    window.location.href="http://localhost:8080/" + userName;
                }
            </script>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<body class="text-center">
    <main class="form-signin">
        <form>
            <img class="mb-4" th:src="@{/images/logo.png}" alt="">
        </form>

        <form th:action="@{/login}">
            <button class="w-100 btn btn-primary btn-lg " type="submit">Sign in</button>
        </form>

        <form th:action="@{/register}">
            <button class="w-80 btn btn-secondary btn-lg" type="submit">Register</button>
        </form>
    </main>
</body>

</html>
