<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Link Account</title>
</head>
<form action="#" th:action="@{/linkaccount}" th:object="${user}" method="post">
    <label for="tempGame">Game</label>
    <select name="Game" th:field="*{tempGame}" id="tempGame">
        <option value="LeagueOfLegends">League of Legends</option>
    </select>
    <label for="tempAccount">Account</label>
    <input type="text" th:field="*{tempAccount}" id="tempAccount">
    <label for="tempRegion">Region</label>
    <select name="Region" th:field="*{tempRegion}" id="tempRegion">
        <option value="eun1">EUNE</option>
        <option value="euw1">EUW</option>
        <option value="na1">NA</option>
        <option value="kr">KR</option>
        <option value="ru">RU</option>
    </select>
<input type="submit" value="Link Account">
</form>
</html>
