<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>StatTrack</title>
    <link th:href="@{/css/mdb.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/custom/login.css}" rel="stylesheet"/>
</head>
<div th:fragment="navbar">

</div>
</html>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="/">
                <img
                        th:src="@{/images/logo.png}"
                        height="50"
                        loading="lazy"
                        alt=""
                />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/update">Update</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/linkaccount">Link account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>

<div class="container main-page">
    <div class="row">
        <div class="col-6">
            <div class="login-form-1 lower">
                <div class="container">
                    <form th:action="@{/settings}" th:object="${container}" method="post">
                        <input type="checkbox" th:field="*{KDA}" th:checked="*{KDA} ? true" /> KDA <br/>
                        <input type="checkbox" id="avgHeals" th:field="*{avgHealing}" th:checked="*{avgHealing} ? true" value="true"/> Average healing per game <br/>
                        <input type="checkbox" th:field="*{avgDamageToChampions}" th:checked="*{avgDamageToChampions} ? true" value="true"/> Average damage dealt to champions per game <br/>
                        <input type="checkbox" th:field="*{avgKills}" th:checked="*{avgKills} ? true" value="true"/> Average kills per game <br/>
                        <input type="checkbox" th:field="*{avgAssists}" th:checked="*{avgAssists} ? true" value="true"/> Average assists per game <br/>
                        <input type="checkbox" th:field="*{avgVisionScore}" th:checked="*{avgVisionScore} ? true" value="true"/> Average vision score <br/>
                        <input type="checkbox" th:field="*{mostPopularRole}" th:checked="*{mostPopularRole} ? true" value="true"/> Most popular role <br/>
                        <input type="checkbox" th:field="*{mostPopularChampion} " th:checked="*{mostPopularChampion} ? true" value="true"/> Most popular champion <br/>
                        <input type="checkbox" th:field="*{winrate}" th:checked="*{winrate} ? true" value="true"/> Winrate in the last 30 games <br/>
                        <input type="checkbox" th:field="*{avgDeaths}" th:checked="*{avgDeaths} ? true" value="true"/> Average deaths per game <br/>
                        <div class="form-group text-center">
                            <input type="submit" class="btnSubmit" value="Submit">
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-6 d-flex justify-content-center text-center">
            <div class="goodText">
                <h3>Chose stats to display on your profile</h3>
                <img
                        th:src="@{/images/logo.png}"
                        loading="lazy"
                        alt=""
                />
            </div>
        </div>
    </div>

</div>

</html>
