<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>StatTrack</title>
    <link th:href="@{/css/mdb.min.css}" rel="stylesheet" />
    <link th:href="@{/css/custom/login.css}" rel="stylesheet" />
</head>
<div th:fragment="navbar">

</div>
</html>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <img
                        th:src="@{/images/logo.png}"
                        height="50"
                        loading="lazy"
                        alt=""
                />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>

<div class="container main-page">
    <div class="row">
        <h1 th:text="${uname}"></h1>
        <div class="col-6">
            <tr th:each="element : ${data}">
                <td th:text="${element.key}"/> :
                <td th:text="${element.value}"/></br>
            </tr>
            <div class="text-center">
                <h1 th:if="${currentUser == true}" th:text="${message}"></h1>
                <a th:if="${currentUser == true}" href="/update">
                    <button th:if="${currentUser == true}" type="button" class="btn">Update stats</button>
                </a></br>
                <a th:if="${currentUser == true}" href="/settings">
                    <button th:if="${currentUser == true}" type="button" class="btn">Settings</button>
                </a>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center text-center">
            <div class="goodText">
                <h1>StatTrack</h1>
                <p>Application for tracking your statistics in online games</p>
            </div>
            <img
                    th:src="@{/images/yasuoo.png}"
                    loading="lazy"
                    class="yasuo"
            />
        </div>
    </div>

</div>

</html>
