<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>StatTrack</title>
    <link rel="stylesheet" th:href="@{/css/mdb.min.css}" />
    <link rel="stylesheet" th:href="@{/css/custom/login.css}" />
</head>
<div th:fragment="navbar">

</div>
</html>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
                class="navbar-toggler"
                data-mdb-target="#navbarSupportedContent"
                data-mdb-toggle="collapse"
                type="button"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="/">
                <img
                        alt=""
                        height="50"
                        loading="lazy"
                        th:src="@{/images/logo.png}"
                />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">UserPage</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/linkaccount">Link Account</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>

<div class="container main-page">
    <div class="row">
        <h1 th:text="${uname}"></h1>
        <div class="text-center">
            <h1 th:if="${currentUser == true}" th:text="${message}"></h1>
            <a href="/update" th:if="${currentUser == true}">
                <button class="btn" th:if="${currentUser == true}" type="button">Update stats</button>
            </a></br>
            <a href="/settings" th:if="${currentUser == true}">
            <button class="btn" th:if="${currentUser == true}" type="button">Settings</button>
        </a>
        </div>
        <div class="col-4">
            <tr th:each="element : ${data}">
                <td th:text="${element.key}"/> :
                <td th:text="${element.value}"/></br>
            </tr>
        </div>
        <div class="col-6 d-flex justify-content-center text-center">
            <div class="goodText">
                <img
                        th:src="@{/images/logo.png}"
                        loading="lazy"
                        alt=""
                />
            </div>
        </div>
    </div>

</div>

</html>
